
body.rwlabs {
  background-color: #f4f4f0;
  position: relative;
}

a {
  color: #1188bb;
  text-decoration: none;
}

/* Font */
@font-face {
  font-family: 'Volkhov-Regular';
  src: url('../fonts/Volkhov-Regular-OTF-webfont.eot');
  src: local('?'),
       url('../fonts/Volkhov-Regular-OTF-webfont.woff') format('woff'),
       url('../fonts/Volkhov-Regular-OTF-webfont.otf') format('opentype'),
       url('../fonts/Volkhov-Regular-OTF-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* These fonts include accents and other glyphs. If none are required, only the
smaller subset above will be used. */
@font-face {
  font-family: 'Volkhov-Regular-Extra';
  src: url('../fonts/Volkhov-Regular.eot');
  src: local('?'),
       url('../fonts/Volkhov-Regular.woff') format('woff'),
       url('../fonts/Volkhov-Regular.otf') format('opentype'),
       url('../fonts/Volkhov-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Header */
/* Top Navigation */
.nav-tabs,
.rwlabs .navbar {
  margin-bottom: 0;
  border-bottom-color: #F0F0F4;
}

.navbar-default {
  position: relative;
  z-index: 1;
  padding: 0;
  background: #F4F4F0 url("http://img.static.reliefweb.int/profiles/reliefweb/themes/kobe/images/global-navigation-shadow.png") repeat-x scroll center bottom;
}

.navbar-header {
  position: relative;
  top: 12px;
  padding-bottom: 11px;
}

.navbar-header ul {
  list-style: none;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  border-bottom-color: #f4f4f0;
  color: #999999;
  font-weight: bold;
  text-decoration: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}

.rwlabs .navbar .nav > li > a {
  padding: 7px 10px;
  text-transform: uppercase;
  font-size: .8em;
}

.rwlabs .navbar-default .navbar-nav > .active > a:hover {
  border-bottom: 1px solid #f4f4f0;
}

.rwlabs .navbar-default .navbar-nav > li > a:hover {
  background-color: #e9e9e5;
  border-bottom: 1px solid #e9e9e5;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}

.nav-tabs > li > a {
  border-radius: 6px 6px 0 0;
}

.nav-pills > li > a {
  border-radius: 4px 4px 4px 4px;
}

.navbar ul#rw-nav-global-utilities {
  margin-top: 12px;
  padding-bottom: 4px;
}

.navbar a#rw-nav-rwhome {
  background-image: url("http://img.static.reliefweb.int/profiles/reliefweb/themes/kobe/images/logo-header.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 53px;
  padding: 12px 8px 13px 40px;
  width: 164px;
}

.navbar a#rw-nav-rwlabs {
  background: #F4F4F0 url("../img/rw-nav-labs.png") no-repeat left center;
  padding: 15px 8px 16px 28px;
}

.navbar a#rw-nav-rwblog {
  background-image: url("../img/rw-nav-blog.png");
  background-position: left center;
  background-repeat: no-repeat;
  color: #1188bb;
  padding: 15px 8px 16px 28px;
}

.social-media-icons a {
  display: inline;
  margin-left: 6px;
}
.social-media-icons a svg path {
  transform: translate(-8px,-8px) scale(1.5);
}
.social-media-icons a svg {
  height: 32px;
  width: 32px;
  fill: #3A5592;
}
.social-media-icons a:hover svg {
  fill: #8C8887;
}

/* Page-header */

.page-header .title-image {
  padding-bottom: 10px;
}

.page-header .title-text {
  font-size: 1.2em;
}

.page-header form {
  font-size: 0.8em;
}

/* Carousel */

.carousel-control.left {
  background-image: linear-gradient(to right, rgba(247, 122, 108, 0.5) 0px, transparent 100%);
}

.carousel-control.right {
  background-image: linear-gradient(to right, transparent 0px, rgba(247, 122, 108, 0.5) 100%);
}

/* Common */

.dark-background,
.rw-projects,
.resources {
  color: #f4f4f0;
  background-color: #666666;
}

.rw-project-list,
.resources-widgets {
  overflow: auto;
  margin-bottom: 20px;
}

.view-all.button-link {
  font-size: 1.2em;
  margin: 9px;
  padding: 6px 18px;
}

.button-link {
  background-color: rgba(244, 240, 240, 1);
  border-radius: 6px 6px 6px 6px;
  margin: 6px;
  padding: 12px;
}

.button-link:hover {
  background-color: rgba(244, 240, 240, 0.9)
}

/* RW-Projects */

.project-layout.container {
  margin-bottom: 40px;
}

.rw-projects h2:before {
  content: url("../img/icon-rw-white-small.png");
  position: relative;
  padding-right: 10px;
  top: 14px;
}

.project-origin {
  border-radius: 4px 4px 4px 4px;
  line-height: 2em;
  padding-left: 10px;
}

.project-origin.rwideas {
  background-color: #F15050;
}

.project-origin.community {
  background-color: #0988BB;
}

.rw-project-list-item a {
  color: #cda7ff;
}

.rw-project-list-item a:hover,
.rw-project-list-item a:focus {
  color: #cda7ff;
  opacity: 0.8;
  text-decoration: none;
}

.rw-description {
  font-size: 0.9em;
}

.project-page .rw-description,
.project-page .project-origin {
  margin-top: 80px;
}

.rw-status {
  font-size: 0.9em;
  margin-bottom: 0;
}

.rw-img-cell {
  padding: 17px 0;
}

/* RW-Apps */
.rw-apps-videos {
  background-color: #d2bfef;
}

.rw-apps-headlines {
  background-color: #46b5f4;
}

.rw-apps-jobs {
  background-color: #ff8278;
}

.rw-apps-crises {
  background-color: #0392c1;
}

.app-container {
  padding-top: 80px;
}

.app-details {
  padding-top: 20px;
  color: white;
}

.app-title {
  padding-top: 18px;
}

.surtitle {
  font-size: 1.2em;
  font-family: "Volkhov-Regular";
}

.app-name {
  font-size: 2.2em;
  font-weight: 700;
}

.app-demo {
  margin-bottom: 60px;
}

.app-introduction {
  font-size: 1.3em;
  padding-top: 40px;
  padding-bottom: 40px;
}

.rw-app-content {
  font-size: 1.4em;
  font-weight: 700;
}

.rw-app-description {
  font-size: 1em;
  padding-top: 18px;
  padding-bottom: 18px;
}

.rw-app-stores {
  padding-bottom: 60px;
}

.rw-app-stores div {
  display: inline;
}

.back-link {
  padding: 20px 0;
}

/* app detail page */
.app-detail-landing {
  border-bottom: 60px #3e3d3f solid;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 20px;
}

.app-detail-landing h1,
.app-detail-landing h2 {
  font-family: "Volkhov-Regular";
}

.app-detail-landing h1 {
  font-size: 50px;
}

.app-detail-landing h2 {
  font-size: 40px;
  color: #3e3e3e;
}

.app-detail-landing .hero {
  background-color: #615480;
  background-image: url(../img/apps/Crises-backgroundA-04.jpg);
  background-size: cover;
  display: grid;
  grid-column: span 8;
  grid-template-columns: repeat(8, 1fr);
}

.app-detail-landing .hero,
.app-detail-landing .hero a {
  color: #ffffff;
  font-size: 20px;
}

.app-detail-landing .hero .wrapper {
  grid-column: 2 / span 3;
  padding: 80px 0 120px;
}

.app-detail-landing .appnav {
  list-style: none;
  padding: 0 0 80px;
}

.app-detail-landing .appnav li {
  display: inline;
}

.app-detail-landing .appnav li:not(:first-child) {
  padding-left: 40px;
}

.app-detail-landing .appnav img {
  height: 60px;
}

.app-detail-landing .slides {
  grid-column: span 8;
}

.app-detail-landing .slide {
  background-image: radial-gradient(ellipse, #ffffff, #e6e7e8);
  background-size: cover;
  color: #027ab0;
  display: grid;
  font-size: 20px;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 20px;
  padding: 80px 0;
}

.app-detail-landing .slide img {
  grid-column: 2 / span 3;
  max-height: 600px;
}

.app-detail-landing .slide .description {
  grid-column: 5 / span 3;
  text-align: right;
}

.app-detail-landing .carousel-indicators li {
  margin-left: 12px;
}

.app-detail-landing .features-wrapper {
  background-image: url(../img/apps/Crises-backgroundB-05.jpg), linear-gradient(to top right, #7eb8dd, #4795c6);
  background-size: cover;
  grid-column: span 8;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  padding: 80px 0;
}

.app-detail-landing .features {
  display: grid;
  grid-column: 2;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
}

.app-detail-landing .feature {
  color: #ffffff;
  font-size: 18px;
  grid-column: span 2;
  text-align: center;
}

.app-detail-landing .feature img {
  display: block;
  margin: auto;
  width: 80%;
}

.app-detail-landing .download {
  border-bottom: 20px #3e3d3f;
  color: #027ab0;
  display: grid;
  grid-column: 2 / span 6;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  padding: 80px 0;
}

.app-detail-landing .download h2 {
  grid-column: span 6;
}

.app-detail-landing .download .rw-app-stores {
  font-size: 20px;
  grid-column: span 4;
}

.app-detail-landing .download .rw-app-stores p {
  padding-bottom: 60px;
}

.app-detail-landing .download img {
  grid-column: span 2;
  max-height: 300px;
}

.app-detail-landing .download .other-apps {
  display: grid;
  font-size: 16px;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  grid-column: span 6;
}

.app-detail-landing .download .other-apps p {
  grid-column: span 6;
}

.app-detail-landing .download .other-app {
  grid-column: span 1;
  max-width: 60%;
  max-height: 140px;
}

/* Video demo */

.phone-frame {
  background: url(../img/apps/iphone6-black-blank.png) no-repeat top left;
  width: 272px;
  height: 565px;
  display: block;
}

.crises-image,
video {
  position: relative;
  top: 55px;
  left: 12px;
}


/* Resources */

.resources h2:before {
  content: url("../img/icon-meeting-white.png");
  content: url("../img/activity_innovation_40px-white.png");
  position: relative;
  padding-right: 10px;
  top: 14px;
}

.innovation-report-list,
.innovation-job-list,
.innovation-training-list {
  background-color: #fff;
  color: #999;
}

.innovation-report {
  padding: 10px;
  border-bottom: 1px dotted #ccc;
  font-size: 0.9em;
}

.innovation-report img {
  height: 40px;
  width: 40px;
}

.innovation-report .date {
  float: right;
}

.innovation-report .text {
  padding-left: 50px;
  font-weight: 400;
}

.innovation-report .text a {
  text-decoration: none;
}

.innovation-report .country {
  font-weight: 700;
  color: #000;
}

.innovation-report .source::before {
  content: url("../img/doc.gif");
  position: relative;
  padding-right: 4px;
  top: 4px;
}

.innovation-report .source {
  font-size: 0.7em;
}

.more-link {
  padding-left: 100px;
}

.twitter-timeline {
  padding-bottom: 14px;
}

.twitter-title,
.playlist-title {
  padding-left: 15px;
}

.logo-youtube {
  background: url(../img/icon-youtube.png) no-repeat top left;
  display: block;
  height: 32px;
  margin: 4px 4px 8px 0;
  width: 32px;
}

.playlist-row {
  margin-bottom: 20px;
}

.logo-twitter {
  background: url(../img/icon-twitter.png) no-repeat top left;
  display: block;
  height: 32px;
  margin: 4px 4px 8px 0;
  width: 32px;
}

/* Divider */

.rw-divider {
  background-image: url("../img/rw-project-list-shadow.png");
  background-position: top;
  background-repeat: repeat-x;
  min-height: 10px;
  display: block;
}

.rw-divider-flip {
  background-image: url("../img/rw-project-list-shadow-flip.png");
  background-position: top;
  background-repeat: repeat-x;
  min-height: 10px;
  display: block;
}

/* Footer */

.logo-footer {
  width: 133px;
  height: 38px;
  display:block;
  background: url(../img/logo-footer.png) no-repeat top left;
  margin-bottom: 3px;
}

.ocha-logo-footer {
  width: 133px;
  height: 38px;
  display:block;
  background: url(../img/logo-ocha.png) no-repeat top left;
  margin-bottom: 3px;
}

.footer-heading {
  text-transform: uppercase;
  font-size: 11px;
  color: #757575;
  font-weight: bold;
  padding-top: 2em;
  margin-bottom: 2em;
}

.footer-subtitle {
  font-family: "Volkhov-Regular";
}

.rw-copyright {
  margin: 20px 0 60px 0;
  color: #babab3;
}

/* Partners */
.footer div.partner-link {
  height: 60px;
  float: left;
}
.footer .partner-link a {
  float: left;
  width: 130px;
  height: 40px;
}
.footer .partner-link a:active,
.footer .partner-link a:hover {
  opacity: 0.8;
}

.footer .partner-link a[class^="related logo-"] {
  background-image: url(../img/partner-logos.png);
  background-repeat: no-repeat;
}

.footer .logo-humanitarianresponse {
  background-position: 0 -200px;
}

.footer .logo-hdx {
  background-position: 0 -160px;
}

.footer .logo-fts {
  background-position: 0 -80px;
}

.footer .logo-hid {
  background-position: 0 -520px;
}

.footer .logo-gdacs {
  background-position: 0 -120px;
}

.footer .logo-redhum {
  background-position: 0 -400px;
}

.footer .logo-inform {
  background-position: 0 -440px;
}

.footer .logo-cerf {
  background-position: 0 -40px;
}

.footer .logo-afh {
  background-position: 0 -360px;
}

.footer .logo-iasc {
  background-position: 0 0;
}

.footer .logo-kobo {
  background-position: 0 -560px;
}

.footer .logo-vosocc {
  background-position: 0 -480px;
}

.footer .logo-insarag {
  background-position: 0 -240px;
}

.footer .logo-pw {
  background-position: 0 -280px;
}

