
body.rwlabs {
  background-color: #f4f4f0;
  position: relative;
}

a {
  color: #1188bb;
  text-decoration: none;
}

/* Font */
@font-face {
  font-family: 'Volkhov-Regular';
  src: url('../fonts/Volkhov-Regular-OTF-webfont.eot');
  src: local('?'),
       url('../fonts/Volkhov-Regular-OTF-webfont.woff') format('woff'),
       url('../fonts/Volkhov-Regular-OTF-webfont.otf') format('opentype'),
       url('../fonts/Volkhov-Regular-OTF-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* These fonts include accents and other glyphs. If none are required, only the
smaller subset above will be used. */
@font-face {
  font-family: 'Volkhov-Regular-Extra';
  src: url('../fonts/Volkhov-Regular.eot');
  src: local('?'),
       url('../fonts/Volkhov-Regular.woff') format('woff'),
       url('../fonts/Volkhov-Regular.otf') format('opentype'),
       url('../fonts/Volkhov-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Header */
/* Top Navigation */
.nav-tabs,
.rwlabs .navbar {
  margin-bottom: 0;
  border-bottom-color: #F0F0F4;
}

.navbar-default {
  position: relative;
  z-index: 1;
  padding: 0;
  background: #F4F4F0 url("http://img.static.reliefweb.int/profiles/reliefweb/themes/kobe/images/global-navigation-shadow.png") repeat-x scroll center bottom;
}

.navbar-header {
  position: relative;
  top: 12px;
  padding-bottom: 11px;
}

.navbar-header ul {
  list-style: none;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  border-bottom-color: #f4f4f0;
  color: #999999;
  font-weight: bold;
  text-decoration: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}

.rwlabs .navbar .nav > li > a {
  padding: 7px 10px;
  text-transform: uppercase;
  font-size: .8em;
}

.rwlabs .navbar-default .navbar-nav > .active > a:hover {
  border-bottom: 1px solid #f4f4f0;
}

.rwlabs .navbar-default .navbar-nav > li > a:hover {
  background-color: #e9e9e5;
  border-bottom: 1px solid #e9e9e5;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}

.nav-tabs > li > a {
  border-radius: 6px 6px 0 0;
}

.nav-pills > li > a {
  border-radius: 4px 4px 4px 4px;
}

.navbar ul#rw-nav-global-utilities {
  margin-top: 12px;
  padding-bottom: 9px;
}

.navbar a#rw-nav-rwhome {
  background-image: url("http://img.static.reliefweb.int/profiles/reliefweb/themes/kobe/images/logo-header.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 53px;
  padding: 12px 8px 13px 40px;
  width: 164px;
}

.navbar a#rw-nav-rwlabs {
  background: #F4F4F0 url("../img/rw-nav-labs.png") no-repeat left center;
  padding: 15px 8px 16px 28px;
}

.navbar a#rw-nav-rwblog {
  background-image: url("../img/rw-nav-blog.png");
  background-position: left center;
  background-repeat: no-repeat;
  color: #1188bb;
  padding: 15px 8px 16px 28px;
}

ul.social-icons {
  padding-left: 4px;
}

.social-icons li {
  display: inline;
}

/* Page-header */

.page-header .title-image {
  padding-bottom: 10px;
}

.page-header .title-text {
  font-size: 1.2em;
}

.page-header form {
  font-size: 0.8em;
}

/* Carousel */

.carousel-control.left {
  background-image: linear-gradient(to right, rgba(247, 122, 108, 0.5) 0px, transparent 100%);
}

.carousel-control.right {
  background-image: linear-gradient(to right, transparent 0px, rgba(247, 122, 108, 0.5) 100%);
}

/* Common */

.dark-background,
.rw-projects,
.resources {
  color: #f4f4f0;
  background-color: #666666;
}

.rw-project-list,
.resources-widgets {
  overflow: auto;
  margin-bottom: 20px;
}

.view-all.button-link {
  font-size: 1.2em;
  margin: 9px;
  padding: 6px 18px;
}

.button-link {
  background-color: rgba(244, 240, 240, 1);
  border-radius: 6px 6px 6px 6px;
  margin: 6px;
  padding: 12px;
}

.button-link:hover {
  background-color: rgba(244, 240, 240, 0.9)
}

/* RW-Projects */

.project-layout.container {
  margin-bottom: 40px;
}

.rw-projects h2:before {
  content: url("../img/icon-rw-white-small.png");
  position: relative;
  padding-right: 10px;
  top: 14px;
}

.project-origin {
  border-radius: 4px 4px 4px 4px;
  line-height: 2em;
  padding-left: 10px;
}

.project-origin.rwideas {
  background-color: #F15050;
}

.project-origin.community {
  background-color: #0988BB;
}

.rw-project-list-item a {
  color: #cda7ff;
}

.rw-project-list-item a:hover,
.rw-project-list-item a:focus {
  color: #cda7ff;
  opacity: 0.8;
  text-decoration: none;
}

.rw-description {
  font-size: 0.9em;
}

.project-page .rw-description,
.project-page .project-origin {
  margin-top: 80px;
}

.rw-status {
  font-size: 0.9em;
  margin-bottom: 0;
}

.rw-img-cell {
  padding: 17px 0;
}

/* RW-Apps */
.rw-apps-videos {
  background-color: #d2bfef;
}

.rw-apps-headlines {
  background-color: #46b5f4;
}

.rw-apps-jobs {
  background-color: #ff8278;
}

.app-container {
  padding-top: 80px;
}

.app-details {
  padding-top: 20px;
  color: white;
}

.app-title {
  padding-top: 18px;
}

.surtitle {
  font-size: 1.2em;
  font-family: "Volkhov-Regular";
}

.app-name {
  font-size: 2.2em;
  font-weight: 700;
}

.app-demo {
  margin-bottom: 60px;
}

.app-introduction {
  font-size: 1.3em;
  padding-top: 40px;
  padding-bottom: 40px;
}

.rw-app-content {
  font-size: 1.4em;
  font-weight: 700;
}

.rw-app-description {
  font-size: 1em;
  padding-top: 18px;
  padding-bottom: 18px;
}

.rw-app-stores {
  padding-bottom: 60px;
}

.rw-app-stores div {
  display: inline;
}

.back-link {
  padding: 20px 0;
}

/* Video demo */

.phone-frame {
  background: url(../img/apps/iphone6-black-blank.png) no-repeat top left;
  width: 272px;
  height: 565px;
  display: block;
}

video {
  position: relative;
  top: 55px;
  left: 12px;
}


/* Resources */

.resources h2:before {
  content: url("../img/icon-meeting-white.png");
  content: url("../img/activity_innovation_40px-white.png");
  position: relative;
  padding-right: 10px;
  top: 14px;
}

.innovation-report-list,
.innovation-job-list,
.innovation-training-list {
  background-color: #fff;
  color: #999;
}

.innovation-report {
  padding: 10px;
  border-bottom: 1px dotted #ccc;
  font-size: 0.9em;
}

.innovation-report img {
  height: 40px;
  width: 40px;
}

.innovation-report .date {
  float: right;
}

.innovation-report .text {
  padding-left: 50px;
  font-weight: 400;
}

.innovation-report .text a {
  text-decoration: none;
}

.innovation-report .country {
  font-weight: 700;
  color: #000;
}

.innovation-report .source::before {
  content: url("../img/doc.gif");
  position: relative;
  padding-right: 4px;
  top: 4px;
}

.innovation-report .source {
  font-size: 0.7em;
}

.more-link {
  padding-left: 100px;
}

.twitter-timeline {
  padding-bottom: 14px;
}

.twitter-title,
.playlist-title {
  padding-left: 15px;
}

.logo-youtube {
  background: url(../img/icon-youtube.png) no-repeat top left;
  display: block;
  height: 32px;
  margin: 4px 4px 8px 0;
  width: 32px;
}

.playlist-row {
  margin-bottom: 20px;
}

.logo-twitter {
  background: url(../img/icon-twitter.png) no-repeat top left;
  display: block;
  height: 32px;
  margin: 4px 4px 8px 0;
  width: 32px;
}

/* Divider */

.rw-divider {
  background-image: url("../img/rw-project-list-shadow.png");
  background-position: top;
  background-repeat: repeat-x;
  min-height: 10px;
  display: block;
}

.rw-divider-flip {
  background-image: url("../img/rw-project-list-shadow-flip.png");
  background-position: top;
  background-repeat: repeat-x;
  min-height: 10px;
  display: block;
}

/* Footer */

.logo-footer {
  width: 133px;
  height: 38px;
  display:block;
  background: url(../img/logo-footer.png) no-repeat top left;
  margin-bottom: 3px;
}

.ocha-logo-footer {
  width: 133px;
  height: 38px;
  display:block;
  background: url(../img/logo-ocha.png) no-repeat top left;
  margin-bottom: 3px;
}

.footer-heading {
  text-transform: uppercase;
  font-size: 11px;
  color: #757575;
  font-weight: bold;
  padding-top: 2em;
  margin-bottom: 2em;
}

.footer-subtitle {
  font-family: "Volkhov-Regular";
}

.related-site {
  min-width: 120px;
  min-height: 80px;
}

.logo-humanitarianresponse {
  background: url(../img/logo-humanitarianresponse-tall.png) no-repeat top left;
}

.logo-gdacs {
  background: url(../img/logo-gdacs.png) no-repeat top left;
}

.logo-inform {
  background: url(../img/logo-inform.png) no-repeat top left;
}

.logo-iasc {
  background: url(../img/logo-iasc.png) no-repeat top left;
}

.logo-pw {
  background: url(../img/logo-pw.png) no-repeat top left;
}

.logo-hdx {
  background: url(../img/logo-hdx.png) no-repeat top left;
}

.logo-hews {
  background: url(../img/logo-hews.png) no-repeat top left;
}

.logo-cerf {
  background: url(../img/logo-cerf.png) no-repeat top left;
}

.logo-vosocc {
  background: url(../img/logo-vosocc.png) no-repeat top left;
}

.logo-fts {
  background: url(../img/logo-fts.png) no-repeat top left;
}

.logo-redhum {
  background: url(../img/logo-redhum.png) no-repeat top left;
}

.logo-whs {
  background: url(../img/logo-whs.png) no-repeat top left;
}

.logo-insarag {
  background: url(../img/logo-insarag.png) no-repeat top left;
}

.rw-copyright {
  margin: 20px 0 60px 0;
  color: #babab3;
}

