---
layout: appspage
---

<script src="{{ site.baseurl }}/js/rwlabs.js"></script>
<div class="page-header app">
  <div class="container">
    <div class="row">

      <div class="app-logo col-sm-6 col-xs-12">
        <img width="100%" src="{{ site.baseurl }}/img/apps/rwlabs-apps-logo.png" alt="RW Apps logo" />

        <div class="app-introduction">
          <p>In 2015, mobile visitors to ReliefWeb increased by 71%.</p>

          <p>To meet this growing demand, ReliefWeb is developing four mobile apps.</p>
        </div>

        <!-- Logos -->
        {% assign state = 'active' %}
        <div class="app-logos">
          {% for app in site.apps %}
          <img width="24%"  type="{{ app.name }}" src="{{ app.logo }}" alt="" class="img-responsive {{ state }}">
          {% assign state = '' %}
          {% endfor %}
        </div>
        {% assign visibility = '' %}
        {% for app in site.apps %}
        <div id="" class="{{ app.name }} rw-app-list-item {{ visibility }}">
          {{ app.content }}
          <ul class="features">
          {% for feature in app.features %}
          <li>{{ feature }}</li>
          {% endfor %}
          </ul>
          <div class="row rw-app-stores">
            {% if app.play-url %}
            <div class="rw-stores col-sm-offset-3 col-sm-3">
              <a href="{{ app.play-url }}"><img src="img/apps/store-play.png" width="100px"/></a>
            </div>
            {% endif %}
            {% if app.itunes-url %}
            <div class="rw-stores col-sm-3">
              <a href="{{ app.itunes-url }}"><img src="img/apps/store-app.png" width="100px"/></a></p>
            </div>
            {% endif %}
          </div><!-- /rw-app-stores -->
        </div><!-- /rw-app-list-item -->
        {% assign visibility = 'hidden' %}
        {% endfor %}

      </div>

      <div class="app-images col-sm-4 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        {% assign visibility = '' %}
        {% for app in site.apps %}
        <div class="{{ app.name }} {{ visibility }} carousel slide phone-slides" data-ride="carousel">
          <!-- Wrapper for slides -->
          <div class="carousel-inner phone-frame" role="listbox">
            {% assign state = 'active' %}
            {% for image in app.images %}
            <div class="item {{ state }}">
              <img src="{{ image }}">
            </div>
            {% assign state = '' %}
            {% endfor %}
          </div>
        </div>
        {% assign visibility = 'hidden' %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
