<div id="rw-projects" class="rw-projects container-fluid page-section">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Labs Projects</h2>
        </div>
      </div>
      <div class="row">
        <div class="rw-project-list">
          {% assign sortedPosts = site.projects | sort: 'weight' | reverse %}
          {% for post in sortedPosts limit:9 %}
          {% if forloop.index == 4 or forloop.index == 7 %}
          <div class="clearfix visible-sm-block visible-md-block visible-lg-block"></div>
          {% endif %}
          <div id="{{ post.id }}" class="rw-project-list-item col-sm-4">
            {% if post.link %}
            <h3><a href="{{ post.link }}">{{ post.title }}</a></h3>
            {% else %}
            <h3>{{ post.title }}</h3>
            {% endif %}
            <p class="rw-status"><strong>Phase: {{ post.phase | upcase }}</strong></p>
            {% if post.link %}
            <div class="rw-img-cell"><a href="{{ post.link }}"><img src="{{ post.image }}" alt="" class="img-rounded img-responsive"></a></div>
            {% else %}
            <div class="rw-img-cell"><img src="{{ post.image }}" alt="" class="img-rounded img-responsive"></div>
            {% endif %}
            <p class="project-origin {{ post.origin | replace: ' ','' | downcase }}"><strong>Origin: {{ post.origin | upcase }}</strong></p>
            <p class="rw-description">{{ post.content }}</p>
          </div><!-- /rw-project-list-item -->
          {% endfor %}
        </div><!-- /.rw-project-list -->
        <a href="projects.html">
          <div class="view-all button-link pull-right">
            View All Projects &raquo;
          </div>
        </a>
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /row -->
</div><!-- /.rw-projects -->
