---
layout: appspage
title: ReliefWeb Apps for Humanitarians
meta-description: Available on iOS and Android, ReliefWeb's mobile apps for humanitarians give you the latest jobs, headlines, sitreps, videos, and more.
---

<div class="page-header app">
  <div class="container">
    <div class="row">

      <div class="app-logo col-sm-6 col-xs-12">
        <img width="100%" src="{{ site.baseurl }}/img/apps/rwlabs-apps-logo.png" alt="RW Apps logo" />

        <div class="app-introduction">
        </div>
      </div>
    </div>
  </div>

  {% for app in site.apps %}
  {% if app.phase != 'Alpha' %}

  <div id="{{ app.name }}" class="container-fluid rw-apps-{{ app.name }}">
    <div class="row">
      <div class="container app-container">
        <div class="row">
          <div class="app-details col-sm-5 col-xs-12">
            <div class="row">
              <div class="app-logo col-sm-3">
                {% if app.permalink %}
                <a href="{{ site.baseurl }}{{ app.permalink }}#{{ app.name }}">
                {% endif %}
                <img type="{{ app.name }}" src="{{ site.baseurl }}/img/apps/rw-apps-{{ app.name }}.svg" alt="app-logo" class="img-responsive">
                {% if app.permalink %}
                </a>
                {% endif %}
              </div>
              <div class="app-title col-sm-9">
                <div class="surtitle">ReliefWeb</div>
                <div class="app-name">{{ app.name | capitalize }} app</div>
              </div>
            </div>
            <div class="row rw-app-description col-sm-10">
              <div class="rw-app-content">
                {{ app.content }}
              </div>
              <div class="rw-app-highlights">
                {% if app.language != 'sp' %}
                <p>Highlights:</p>
                {% endif %}
                {% for banner in app.banners %}
                <p>{{ banner }}</p>
                {% endfor %}
                {% if app.permalink %}
                <a href="{{ site.baseurl }}{{ app.permalink }}#{{ app.name }}">
                  {% if app.language == 'sp' %}
                  <p>Mas detalles</p>
                  {% else %}
                  <p>See more details</p>
                  {% endif %}
                </a>
                {% endif %}
              </div>
            </div><!-- /rw-app-description -->
            <div class="row rw-app-stores col-sm-12">
              {% if app.play-url %}
              <div class="rw-stores android">
                <a href="{{ app.play-url }}"><img src="{{ site.baseurl }}/img/apps/androidstore.png" width="40%"/></a>
              </div>
              {% endif %}
              {% if app.itunes-url %}
              <div class="rw-stores apple">
                <a href="{{ app.itunes-url }}"><img src="{{ site.baseurl }}/img/apps/applestore.png" width="40%"/></a></p>
              </div>
              {% endif %}
            </div><!-- /rw-app-stores -->
          </div>
          <div class="app-demo col-sm-offset-3 col-sm-3 col-xs-12">
            <div class="phone-frame">
              <video loop="true" autoplay="true" width="248">
                <source src="{{ site.baseurl }}/img/apps/demo-{{ app.name }}.mp4" type="video/mp4">
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}

</div>
