<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="rwlabs">
    {% include nav.html %}
    <div id="{{ page.name }}" class="app-detail-landing">
      <div class="hero">
        <div class="wrapper">
          <ul class="appnav">
            <li><img class="this-app" alt="{{ page.name }} app" src="{{ site.baseurl }}/img/apps/rw-apps-{{ page.name }}.png"/></li>
            <li><a href="#features" class="scroll-link">Features</a></li>
            <li><a href="#download" class="scroll-link">Download</a></li>
          </ul>
          <h1>{{ page.headline }}</h1>
        </div>
        <div class="read-on">
          <a href="#carousel" class="scroll-link"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
        </div>
      </div>
      <div id="carousel" class="carousel slides" data-interval="7000" data-ride="carousel">
        <ol class="carousel-indicators">
          {% for slide in page.slides %}
          <li data-target="#carousel" data-slide-to="{{ forloop.index0 }}" {% if forloop.first == true %}class="active"{% endif %}></li>
          {% endfor %}
        </ol>
        <div class="carousel-inner" role="listbox">
          {% for slide in page.slides %}
          <div class="item{% if forloop.first == true %} active{% endif %}">
            <div class="slide">
              <div class="screenshot">
                <div class="phone-frame">
                  <img src="{{ site.baseurl }}/img/apps/{{ slide.image }}" alt="app screenshot"/>
                </div>
              </div>
              <div class="description">
                <h2>{{ slide.title }}</h2>
                <p>{{ slide.text }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div id="features" class="features-wrapper">
        <div class="features">
          {% for feature in page.features %}
          <div class="feature">
            <img src="{{ site.baseurl }}/img/apps/{{ feature.image }}" alt="feature-illustration"/>
            <p>{{ feature.text }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <div id="download" class="download">
        {% for download in page.download %}
        <h2>{{ download.title }}</h2>
        <div class="rw-app-stores">
          <p>{{ download.text }}</p>
          {% if page.play-url %}
          <div class="rw-stores android">
            <a href="{{ page.play-url }}"><img src="{{ site.baseurl }}/img/apps/androidstore_black.png" width="40%"/></a>
          </div>
          {% endif %}
          {% if page.itunes-url %}
          <div class="rw-stores apple">
            <a href="{{ page.itunes-url }}"><img src="{{ site.baseurl }}/img/apps/applestore.svg" width="40%"/></a>
          </div>
          {% endif %}
        </div><!-- /rw-app-stores -->
        <div class="illustration">
          <img src="{{ site.baseurl }}/img/apps/{{ download.image }}" alt="download illustration"/>
        </div>
        {% endfor %}
        <div class="other-apps">
          <p>You might also be interested in:</p>
          <div class="app-links">
            {% for appname in page.otherapps %}
            <a class="other-app" href="../apps/index.html#{{ appname }}">
              <img alt="Link to {{ appname }} app" src="{{ site.baseurl }}/img/apps/rw-apps-{{ appname }}.png"/>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
